html,body{
    height: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
.lt_sidebar{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
    left: 0;
    top:0;

}
.lt_sidebar.now{
    left:-180px;
    transition: all 1s;
}
.logo{
    height: 50px;
    width: 100%;
    background-color: #337ab7;
}
.logo a{
    display: block;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.username{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;  
    padding: 30px;  
}
.username img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;    

}
.menu_categroy{
width: 100%;
text-align: center;
}
.menu_categroy li a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(170, 170, 170);
    padding-left:4px;
    font-size: 16px;
    padding: 10px;
    
}
.menu_categroy li a span{
color: #fff;
}
.top_nav{
    height: 50px;
    width: 100%;
    background-color: #3c8dbc;
    padding-left:180px;
    margin-bottom: 20px;
}
.top_nav.now{
    padding-left: 0px;
    transition: all 1s;
}
.top_nav .top_menu,.top_logout{
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}
.top_menu{
    padding-left: 20px;
}
.top_nav .top_logout{
    color: #fff;
    text-decoration: none;
    float: right;
    padding-right: 20px;
}
.bread{
    padding-left: 100px;
}
.bar_left{
    height: 400px;

}
.bar_right{
    height: 400px;;

}